---
# Vault Role - Main tasks
- name: Install prerequisites
  apt:
    name:
      - unzip
      - curl
    state: present

- name: Download Vault
  get_url:
    url: "https://releases.hashicorp.com/vault/{{ vault_version }}/vault_{{ vault_version }}_linux_amd64.zip"
    dest: /tmp/vault.zip
    mode: '0644'

- name: Extract Vault
  unarchive:
    src: /tmp/vault.zip
    dest: /usr/local/bin
    remote_src: yes
    mode: '0755'

- name: Create Vault user
  user:
    name: vault
    system: yes
    shell: /bin/false

- name: Create Vault directories
  file:
    path: "{{ item }}"
    state: directory
    owner: vault
    group: vault
    mode: '0755'
  loop:
    - /etc/vault.d
    - /var/lib/vault

- name: Configure Vault
  template:
    src: vault.hcl.j2
    dest: /etc/vault.d/vault.hcl
    owner: vault
    group: vault
    mode: '0640'
  notify: restart vault

- name: Create Vault systemd service
  template:
    src: vault.service.j2
    dest: /etc/systemd/system/vault.service
    mode: '0644'
  notify:
    - daemon reload
    - restart vault

- name: Enable and start Vault
  systemd:
    name: vault
    enabled: yes
    state: started
